// local button styling overrides

.button.active {
    box-shadow: 1px 1px 3px black;
    transition: all 0.15s;
}

.button.active:hover {
    box-shadow: 1px 1px 5px black;
    transform: scale(1.05);
}
.button.active:active {
    box-shadow: 0px 0px 3px black;
    transform: translateY(2px);
}
