// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "colors.scss";


// Bulma global vars



// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Element Variable Specific Overrides
// Footer
$footer-padding: 1.25rem 1.5rem 2.5rem;

@import "~material-design-icons/iconfont/material-icons.css";
// Import Bulma
@import "~bulma";
// Component Style overrides
// Buttons
@import "../sass/components/_buttons.scss";
